.button {
  color: gold;
  background-color: blue;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2 px gold solid;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
